@* @model UserAccountService.Domain.Entities.UserAccount *@
@* *@
@* <div class="row g-3"> *@
@* *@
@*     <div class="col-md-6"> *@
@*         <label asp-for="Name" class="form-label">Nombre *</label> *@
@*         <input asp-for="Name" class="form-control" placeholder="Ingrese el nombre" required minlength="3" maxlength="100" /> *@
@*         <span asp-validation-for="Name" class="text-danger small"></span> *@
@*     </div> *@
@* *@
@*     <div class="col-md-6"> *@
@*         <label asp-for="FirstLastName" class="form-label">Primer Apellido *</label> *@
@*         <input asp-for="FirstLastName" class="form-control" placeholder="Ingrese el primer apellido" required minlength="2" maxlength="100" /> *@
@*         <span asp-validation-for="FirstLastName" class="text-danger small"></span> *@
@*     </div> *@
@* *@
@*     <div class="col-md-6"> *@
@*         <label asp-for="SecondLastName" class="form-label">Segundo Apellido</label> *@
@*         <input asp-for="SecondLastName" class="form-control" placeholder="Ingrese el segundo apellido (opcional)" minlength="2" maxlength="100" /> *@
@*         <span asp-validation-for="SecondLastName" class="text-danger small"></span> *@
@*     </div> *@
@* *@
@*     <div class="col-md-6"> *@
@*         <label asp-for="PhoneNumber" class="form-label">Teléfono *</label> *@
@*         <input asp-for="PhoneNumber" class="form-control" placeholder="Ej: 76543210" type="tel" pattern="[0-9]{8}" required value="" /> *@
@*         <span asp-validation-for="PhoneNumber" class="text-danger small"></span> *@
@*     </div> *@
@* *@
@*     <div class="col-md-6"> *@
@*         <label asp-for="Email" class="form-label">Correo Electrónico *</label> *@
@*         <input asp-for="Email" class="form-control" placeholder="ejemplo@correo.com" type="email" required maxlength="255" /> *@
@*         <span asp-validation-for="Email" class="text-danger small"></span> *@
@*     </div> *@
@* *@
@*     <div class="col-md-6"> *@
@*         <label asp-for="DocumentNumber" class="form-label">Documento de Identidad *</label> *@
@*         <input asp-for="DocumentNumber" class="form-control" placeholder="Ej: 1234567" type="text" minlength="6" maxlength="9" pattern="[0-9]{6,9}" required /> *@
@*         <span asp-validation-for="DocumentNumber" class="text-danger small"></span> *@
@*     </div> *@
@* *@
@*     <div class="col-md-6"> *@
@*         <label asp-for="Role" class="form-label">Rol *</label> *@
@*         <select asp-for="Role" class="form-select" required> *@
@*             <option value="">Seleccione un rol...</option> *@
@*             <option value="CEO" selected="@(Model.Role == "CEO")">Propietario</option> *@
@*             <option value="Manager" selected="@(Model.Role == "Manager")">Gerente</option> *@
@*         </select> *@
@*         <span asp-validation-for="Role" class="text-danger small"></span> *@
@*     </div> *@
@* </div> *@
