@model ServiceService.Domain.Entities.Service


<div class="row g-3">
    <div class="col-md-6">
        <label asp-for="Name" class="form-label">Nombre del servicio</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Type" class="form-label">Tipo</label>
        <input asp-for="Type" class="form-control" maxlength="12" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Price" class="form-label">Precio</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="col-12">
        <label asp-for="Description" class="form-label">Descripción</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

</div>