@model OwnerService.Domain.Entities.Owner

<div class="row g-3">
    <div class="col-md-6">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="FirstLastname" class="form-label"></label>
        <input asp-for="FirstLastname" class="form-control" />
        <span asp-validation-for="FirstLastname" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="SecondLastname" class="form-label"></label>
        <input asp-for="SecondLastname" class="form-control" />
        <span asp-validation-for="SecondLastname" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="DocumentNumber" class="form-label">CI</label>
        <input asp-for="DocumentNumber" class="form-control" />
        <span asp-validation-for="DocumentNumber" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
</div>
